$defualtHeight: 2rem;
        
vs-dropdown{
    display: block;
    position: relative;
    border: #e0e0e0 solid 1px;
    background-color: white;
    font-size: 0.8rem;
    width: 100%;

    .bottom{
        .vd-selector{
            top: 2rem;
        }
    }

    .top{
        .vd-selector{
            bottom: 2rem;
        }
    }
}

.vd-selection-group{
    display: flex;
    position: relative;
    width: 100%;
    height: 2rem;

    .vd-overlay-wrap, .vd-selection{
        width: 100%;
    }

    .vd-overlay{
        .vd-overlay-title{
            height: 2rem;
            .vd-overlay-title-text{
                height: 100%;
                width: 100%;
            }
        }
        .vd-items{
            background-color: white;
            border: #e0e0e0 solid 1px;

            .vd-item{
                padding: 0 1rem;
            }
        }
    }

    .vd-btn-selections{
        display: flex;
        align-items: center;

        position: absolute;
        top: 0;
        right: 0;
        padding-right: 1rem;
        height: 2rem;

        line-height: 1;
        background-color: transparent;
    }

    .vd-selection, .vd-overlay-title-text{
        margin-right: $defualtHeight;
        display: flex;
        padding: 0 1rem;
        align-items: center;
    }
}

.vd-check-btn{
    box-sizing: border-box;
    position: relative;
    min-width: 1rem;
    min-height: 1rem;
    width: 1rem;
    height: 1rem;
    border-radius: 2px;
    border: #bdc3c7 solid 2px;
    margin: 0 0.4rem;

    cursor: pointer;

    &[selected]{
        &:after{
            box-sizing: border-box;
            transform: rotate(45deg);
            position: absolute;
            left: 3.66667px;
            top: .22222px;
            display: table;
            width: 5.66667px;
            height: 11.33333px;
            border-width: 2px;
            border-style: solid;
            border-top: 0;
            border-left: 0;
            content: "";
        }
    }

    &[disabled]{
        opacity: 0.2;

        &:after{
            display: none!important;
        }
    }
}

.vd-all-select-btn{
    display: flex;
    width: 100%;
    height: 2rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover{
        background-color: rgba(224, 224, 224, 0.20);
    }
}

.vd-items{
    display: block;
    
    max-width: 100%;
    max-height: 10rem;
    overflow-y: auto;
    list-style: none;
    margin: 0!important;
    padding: 0!important;

    .vd-item{
        height: $defualtHeight;
        padding: 0 0.25rem;

        .vd-item-content{
            display: flex;
            align-items: center;
            height: $defualtHeight;

            .vd-item-text-wrap{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                .vd-item-text{
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }

            .vd-delete-btn{
                width: $defualtHeight;
                height: $defualtHeight;
                padding-left: $defualtHeight / 2;
            }
        }


        &:hover{
            background-color: rgba(224, 224, 224, 0.20);
        }
    }
}

.vd-selector{
    position: absolute;
    width: 100%;
    background-color: white;
    border: #e0e0e0 solid 1px;
    z-index: 100;

    overflow: hidden;
}

.vd-filter-group{
    display: flex;

    height: 2rem;

    white-space: nowrap;
    border-bottom: #e0e0e0 solid 1px;
    padding: 0 0.25rem;
    align-items: center;
    input{
        width: 100%;
        border: none;
    }

    .vd-counter{
        margin-right: 0.75rem;
    }
}

.vd-counter{
    display: inline-block;
    margin-left: 0.3125rem;
    padding: 0.125rem 0.3125rem;
    color: #808080;
    font-size: 0.625rem;
    font-weight: 600;
    line-height: 1;
    border-radius: 1.25rem;
    background-color: #eaeaea;
    min-height: 0.7rem;
    min-width: 0.35rem;
}